way2.Dominio.Modelo.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
way2.Dominio.Modelo.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
way2.Dominio.Modelo.Tests/obj/
way2.Dominio.Modelo/obj/
way2.Infra.Commons/obj/
way2.ScreenConsole/bin/
way2.ScreenConsole/obj/
way2.ScreenConsole/obj/Debug/
